body {
  background-color: #ECF0F1;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

footer {
    width: 100%;
    bottom: 0;
    position: relative;
    text-align: center;
    margin-top: 20px;
}


.centered-image {
    display: block;
    margin: auto;
}

.caption {
    text-align: center;
    font-style: italic;
}